<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Править профиль</h1>
  <%= render partial: 'form', locals: { registration: false, submit_text: 'Сохранить профиль'} %>
</div>
