<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Наши пользователи</h1>
  </div>

  <% @users.each do |user| %>
    <div class="users-list-item">
      <div class="user-image-div user-image-div-small">
        <%= link_to image_tag(user_avatar(user), class: 'user-image'), user_path(user) %>
      </div>
      <%= link_to "@#{user.username}", user_path(user) %>
    </div>
  <% end %>

  <div class="buffer-top">
     <% @tags_with_counts.each do |tag| %>
      <% font_size = tag_cloud_font_size(@tags_with_counts, tag) %>
      <%= link_to "##{tag[0]}", tag_path(tag[0]), { style: "font-size: #{font_size}px;" } %>
    <% end %>
  </div>
</div>
