<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Присоединяйся к нам!</h1>
  <%= render partial: 'form', locals: { password_note: false, submit_text: 'Зарегистрировать' } %>
</div>
